<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_importmap_tags %>
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css"> <!-- Assuming your CSS is stored here -->
</head>
<body class="m-0 p-0">
<div class="min-h-screen flex flex-col items-center justify-center bg-cover bg-bottom w-full" style="background-image: url('<%= asset_path('farshotbest.jpg') %>');">
  <%= render "layouts/navbar" %>
  <div class="rounded-full w-80 h-80 mt-20 md:h-96 md:w-96">
    <%= image_tag 'logolight.png', alt: 'Main splash image', class: 'rounded-full' %>
  </div>
  <div class="flex flex-col justify-center items-center mt-10">
    <div class="text-5xl flex justify-center gap-16 py-3 text-white">
      <a href="https://instagram.com/fullsendwaxing?igshid=YmMyMTA2M2Y=" target="_blank">
        <i class="fab fa-instagram h-10 w-10 text-white hover:scale-125"></i>
      </a>
      <a href="https://www.facebook.com/fullsendwaxing/" target="_blank">
        <i class="fab fa-facebook-square h-10 w-10 text-white hover:scale-125"></i>
      </a>
      <a href="https://vm.tiktok.com/ZTdCK6Uqn/" target="_blank">
        <i class="fab fa-tiktok h-10 w-10 text-white hover:scale-125"></i>
      </a>
      <a href="https://venmo.com/code?user_id=1964786585698304640&created=1700151778.773841&printed=1" target="_blank">
        <i class="fab fa-vimeo h-10 w-10 text-white hover:scale-125"></i>
      </a>
    </div>
  </div>
</div>
<section>
  <div class="section">
    <div class="card">
      <div class="card-content">
        <h2>We're all about the ride.</h2>
        <p>
          We're on a mission to redefine your snowboarding and skiing experience,
          blending expertise with a laid-back vibe.
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="card">
      <div class="card-content">
        <p>
          Our story kicks off with a heartfelt love for snow sports and a profound respect for the mountain landscapes.
          We've finely tuned our skills to become your ultimate choice for snowboard and ski maintenance.
          Our commitment to excellence fuels our attention to the nitty-gritty, tailored to your unique style.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p>
          We're eco-warriors at heart, rocking biodegradable waxes to keep our mountain playgrounds as fresh as the powder you love.
          And guess what? We've got your back, offering pickup and delivery right to your doorstep.
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="card">
      <div class="card-content">
        <h2>Tuning services.</h2>
        <p>
          We're all about delivering next-level expertise with a commitment to eco-friendliness.
          Our convenient pick-up and delivery service brings top-notch gear and service right to your doorstep.
          Let's ride, and make the mountain experience yours!
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="card">
      <div class="card-content">
        <h2>Ski and board repairs.</h2>
        <p>
          🔧 Ptex Repairs: Say goodbye to those unsightly base gouges and scratches.
          Our meticulous Ptex repairs seamlessly blend with your equipment, ensuring smooth, uninterrupted glides down the slopes.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p>
          🔪 Edge Repairs: Cracked or damaged edges can spell trouble on the mountain.
          Let us restore your edges to their former glory, providing you with precision control and confidence on every turn.
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="card">
      <div class="card-content">
        <h2>Know what people use on your hard-earned gear.</h2>
        <p>
          At our waxing company, we take great pride in the quality and sustainability of our products.
          We exclusively use Purl Wax for our waxing services, a renowned, eco-friendly brand known for its exceptional performance and durability on the slopes.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p>
          We prioritize eco-friendliness in all aspects of our operations. Purl Wax shares our commitment to
          environmental stewardship. Their products are formulated with eco-conscious practices, ensuring minimal impact on the natural surroundings
          we all cherish.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p>
          Rest assured, when you choose our services, you're not only getting top-quality performance, but you're also supporting a sustainable and
          environmentally conscious approach to winter sports maintenance.
        </p>
      </div>
    </div>
  </div>
</section>
</body>
</html>